* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

#new-grid-btn {
    display: block;
    width: 10%;
    margin: 24px auto 48px;
    background-color: white;
    border: 2px solid rgb(213, 218, 223);
    border-radius: 10px;
    font-family: Roboto, 'DejaVu Sans', sans-serif;
    font-size: 20px;
}

#new-grid-btn:hover {
    background-color: rgb(213, 218, 223);
    border-color: black;
}

#new-grid-btn:active {
    background-color: rgb(111, 137, 163);
}

#grid-container {
    width: 45%;
    aspect-ratio: 1 / 1;
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
}

.grid-square {
    border: 1px solid rgba(213, 218, 223, 0.75);
}

.sketched {
    background-color: black;
}