* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

#grid-container {
    width: 45%;
    aspect-ratio: 1 / 1;
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
}

.grid-square {
    flex: 1 1 6.25%;
    border: 1px solid rgba(213, 218, 223, 0.75);
}